*{ margin:0; padding:0; box-sizing:border-box; font-family: 'Poppins', sans-serif; }
body{
    background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url("campus.jpg") center/cover no-repeat;
}

.header{
    background: linear-gradient(#e4b471, #4f2005);
    color: #ffffff;      
    text-align: center;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.header h1{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}
.header p{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.9;
}

.main{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.loginCard{
    background:#fff8f0; 
    padding:35px;
    border-radius:16px;
    box-shadow:0 8px 30px rgba(0,0,0,0.12);
    width:400px;
    text-align:center;
}

.tabs{
    display:flex;
    margin-bottom:20px;
}
.tabBtn{
    flex:1;
    padding:12px;
    cursor:pointer;
    background:#ecd6c0;  
    border:none;
    border-radius:8px 8px 0 0;
    font-weight:500;
    transition:0.25s;
    color:#5b3a29;
}
.tabBtn.active{
    background:#642b09;  
    color:white;
}


.field{ text-align:left; margin-bottom:15px; }
.field label{ display:block; font-weight:500; margin-bottom:5px; color:#5b3a29; }
.field input, .field select{
    width:100%;
    padding:12px;
    border:1px solid #d9b89c;
    border-radius:8px;
    font-size:14px;
    background:#fff3e6;
    color:#5b3a29;
}
.field input:focus, .field select:focus{
    border-color:#361900;
    outline:none;
    box-shadow:0 0 4px rgba(181,128,82,0.5);
}


.loginBtn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#642b09;  
    color:white;
    font-size:16px;
    font-weight:500;
    cursor:pointer;
    margin-top:10px;
    transition:0.25s;
}
.loginBtn:hover{
    background:#642b09;  
    transform:scale(1.03);
}

.icon{
    font-size:50px;
    margin-bottom:10px;
}

.adminBtn {
    background-color: #4a2005; 
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.adminBtn:hover {
    background-color: #642b09;
}

.field select {
    width: 100%;
    overflow: hidden;      
    text-overflow: ellipsis;
}

select option {
    white-space: normal;
}

#regProgram {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 12px;          
    background: #fff3e6;   
    color: #5b3a29;         
    border: 1px solid #d9b89c;
    border-radius: 8px;    
    font-size: 14px;
    font-family: inherit;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

#regProgram:focus {
    border-color: #361900;
    box-shadow: 0 0 4px rgba(181, 128, 82, 0.5);
}


#regProgram option {
    white-space: normal;
}
